<div class="col" *ngFor="let entry of playerList" style="width:55%">
      <h5>Highest paid {{entry.role}}</h5>
      <table>
        <tr *ngFor="let player of entry.players">
            <td>{{player.name}}</td>
            <td>{{player.role}}</td>
            <td>{{player.label}}</td>
            <td>{{player.price | currency:'INR'}}</td>
        </tr>
      </table>
</div>

<div class="col" style="width:45%;margin-top:-25.5%">
<input type="text" class="form-control" [(ngModel)]="searchStr" placeholder="Enter the player name" (keyup)="search()">
<hr>
<div *ngIf="searchResPlayers.length > 0 && searchStr.trim().length > 0">
  <table class="table">
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Label</th>
        <th>Price</th>
      </tr>
      <tr *ngFor="let player of searchResPlayers">
        <td>{{player.name}}</td>
        <td>{{player.role}}</td>
        <td>{{player.label}}</td>
        <td>{{player.price | currency:'INR'}}</td>
      </tr>
    </table>
</div>
<div *ngIf="searchResPlayers.length == 0 && searchStr.trim().length > 0">
    <p>There no players with the given search name : "{{searchStr}}"</p>
</div>
</div>
